// colors
$red:    #ed2222;
$blue:   #0089d1;
$green:  #108b3f;
$orange: #fca604;
$yellow: #ffe200;
$colors: (red $red) (blue $blue) (green $green) (orange $orange) (yellow $yellow);



// @media


//dimensions


// fonts
$font-name: Noto Sans SC